<div class="container">
    <div class="hero-unit cool-background cadastro-sucesso-hero">
        <div class="row">
            <h1><img class="sucesso-icon" src="{{STATIC_URL}}img/sucesso.png"/>   Cadastro Completo!</h1>
            <hr/>
            <p>Ao ser validado pelos administradores, um email será enviado confirmando ou não a ativação de sua conta.</p>
            <p>
            <hr/>
            <a class="btn btn-primary btn-large" href="{% url auth %}">Voltar</a>
            </p>
        </div><!-- row -->
    </div><!-- hero-unit -->
</div><!-- container -->
