#nova-pergunta-form {
    margin: 3% 25% 0;
    padding: 3% 0 0 6%;
}

#nova-pergunta-icon {
    height: 150px;
}

#nova-pergunta-icon-container {
    height: 150px;
    margin-top: 3%;
    margin-left: 46%;
}

.controls textarea {
    width: 90% !important;
}
