#form-container {
    margin-top: 3%;
    margin-left: 27%;
    width: 49%;
    padding: 2%;
    margin-bottom: 3%;
}

.perguntas-title {
    margin-top: 5% !important;
}

#resposta {
}

#id_conteudo {
    width: 50% !important;
}
